/out/
core
tags
*.o
*.mk
*.Makefile
*.so.*
*.exe.*
*.exe
*.a


# Visual Studio uglies
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.ncrunchsolution*
*.sdf
*.vsp
*.psess

# Code::Blocks uglies
*.cbp
*.layout
*.depend
# generated directories
bin/
obj/
